@font-face {
    font-family: 'Space Grotesk';
    src: url('SpaceGrotesk-Regular.woff2') format('woff2'),
        url('SpaceGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Compressed';
    src: url('FiraSansCompressed-Regular.woff2') format('woff2'),
        url('FiraSansCompressed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

