body {
    background-color: #FBF6D9;
}

h1 {
    font-family: 'Ddouglas';
    font-size: 30em;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 80px;
    line-height: 200px;
}

h2 {
    font-family: 'Bree Serif', serif;
    font-size: 4em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 500px;
}

.pink {
    color: #E4287C;
}
.orange {
    color: #F87217;
}
.yellow {
    color: #FBB917;
}
.green {
    color: #52D017;
}
.blue {
    color: #1F45FC;
}

h3 {
    font-family: 'Bree Serif', serif;
    font-size: 3em;
    margin-bottom: 20px;
    padding-left: 60px;
}

p {
    font-family: 'Fira Sans';
    padding: 0px 60px 0px 60px;
}

.link {
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-align: center;
}
