body {
    border-style: solid;
    border-width: 7px;
    border-radius: 50px;
    border-color: red;
}

.bar {
    color: #5EFB6E;
    font-weight: Light;
    font-size: 25px;
}
.red:hover {
    color:red;
}

h1 {
    font-family: Marc;
    font-size: 80px;
    color: #5EFB6E;
    text-align: center;
}

h2 {
    font-family: Outfit;
    color: #5EFB6E;
    font-size: 40px;
    text-align: right;
}

p {
    font-family: helvetica;
    color: #FF8040;
    padding-right: 350px;
    font-size: 18px;
}

ul {
    font-family: Outfit;
    color: red;
    font-size: 18px;
}

div {
    display: grid;
    grid-template-columns: 30vw 70vw;
    column-gap: 30px;
    justify-content: start;
}

.img {
    display: grid;
    grid-template-columns: 50vw 50vw;
    justify-items: center;
}
