@import url("./fonts/stylesheet.css");

h2 {
    font-family: 'Space Grotesk';
    font-weight: medium;
    font-size: 2.75em;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    font-family: 'Fira Sans Compressed';
    font-weight: normal;
    font-size: 1.8em;
    padding-left: 20px;
    line-height: 40px;
    margin-top: 5px;
}

h3 {
    font-family: 'Space Grotesk';
    font-weight: normal;
    padding-left: 20px;
    margin-bottom: 1px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: 'Space Grotesk';
    font-weight: normal;
    font-size: 1.2em;
    margin-top: 10px;
    padding-right: 20px;
}

.work-title {
    font-family: 'Fira Sans Compressed';
    font-weight: normal;
    font-size: 3em;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 300px;
}
.sub-title {
    font-family: 'Space Grotesk';
    font-weight: normal;
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.introduction {
    font-family: 'Space Grotesk';
    font-weight: normal;
    font-size: 2em;
}

.footer {
    padding-left: 20px;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    margin-bottom: 20px;
}
blockquote {
    font-family: 'Space Grotesk';
    font-weight: bold;
    font-size: 1.1em;
    margin-top: 0px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: 15px;
}
.img-contain {
    margin-left: 20px;
    align-items: stretch; 
    height: 800px;
    overflow-y: scroll;
}

.container2 {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: 15px;
    align-content: center;
}
.cv-content {
    font-family: 'Space Grotesk';
    font-weight: normal;
    color: #12AD2B;
    font-size: 1.2em;
    margin-top: 10px;
    margin-bottom: 5px;
}
ul {
    font-family: 'Space Grotesk';
    font-weight: normal;
    font-size: 1.1em;
    margin-top: 5px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.cv-title {
    font-family: 'Fira Sans Compressed';
    font-weight: normal;
    font-size: 1.9em;
    padding-left: 20px;
    margin-bottom: 5px;
}
.cv-intro {
    font-family: 'Space Grotesk';
    font-weight: normal;
    font-size: 1.2em;
    padding-left: 20px;
    margin-top: 5px;
}

span,
span a {
    color: #12AD2B;
}

a.highlight:hover {
    color: #12AD2B;
}
