h2 {
    font-family: 'Space Grotesk';
    font-weight: medium;
    font-size: 2.75em;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

h1 {
    font-family: 'PT Sans Narrow';
    font-weight: normal;
    font-size: 1.9em;
    padding-left: 20px;
    line-height: 40px;
    margin-top: 5px;
}

h3 {
    font-family: 'Space Grotesk';
    font-weight: normal;
    padding-left: 20px;
    margin-bottom: 1px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: 'Space Grotesk';
    font-weight: normal;
    font-size: 1.3em;
    margin-top: 10px;
    padding-right: 20px;
}

.work-title {
    font-family: 'PT Sans Narrow';
    font-weight: normal;
    font-size: 3em;
    line-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 300px;
}
.sub-title {
    font-family: 'Space Grotesk';
    font-weight: normal;
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.introduction {
    font-family: 'Space Grotesk';
    font-weight: normal;
    font-size: 2em;
}

.footer {
    padding-left: 20px;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

img {
    margin-bottom: 20px;
}
blockquote {
    font-family: 'Space Grotesk';
    font-weight: normal;
    font-size: 1em;
    margin-top: 3px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: 15px;
}
.img-contain {
    margin-left: 20px;
    align-items: stretch; 
    height: 800px;
    overflow-y: scroll;
}