a {
    text-decoration: none;
    color: black;
}

p {
    font-family: 'PT Sans';
    font-size: 1.3em;
    font-weight: normal;
    margin-bottom: 10px;
}

.introduction {
    font-family: 'PT Sans';
    font-size: 1.7em;
    font-weight: normal;
}

h2 {
    font-family: 'Space Grotesk';
    font-weight: normal;
    font-size: 2.75em;
    padding-left: 20px;
    margin-bottom: 10px;
}

h1 {
    font-family: 'PT Sans Narrow';
    font-weight: normal;
    font-size: 2em;
    padding-left: 20px;
    line-height: 40px;
    margin-top: 5px;
}

h3 {
    font-family: 'Space Grotesk';
    font-weight: normal;
    padding-left: 20px;
    margin-bottom: 1px;
}

.container {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: 15px;
}
.img-contain {
    margin-left: 20px;
    align-items: end; 
    overflow-y: scroll;
    height: 700px;
}