@font-face {
    font-family: "Graphik Web Regular";
    src: url("GraphikWeb-Regular.woff2") format("woff2");
  }
  @font-face {
    font-family: "Graphik Web Bold";
    src: url("GraphikWeb-Bold.woff2") format("woff2");
  }
  @font-face {
    font-family: "Arapey Bold";
    src: url("Arapey-Bold.otf") format("woff2");
  }


html {
    background-color: #E5E4E2;
}

body {
    margin: 0px;
    width: 100vw;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

#header {
    display: inline-flex;
    width: 180px;
    height: 40px;
    margin: 0px;
    z-index: 2;
}
#name {
    font-family: 'Graphik Web Bold';
    position: fixed;
    text-align: left;
    color: #DC143C;
    background-color: #E5E4E2;
    font-size: 1.9em;
    margin: 0px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 10px;
    z-index: 2;
}

#intro {
    display: inline-flex;
    position: absolute;
    width: 1250px;
    height: 40px;
    margin: 0px;
    margin-left: 5px;
    overflow-x: show;
    white-space: nowrap;
    animation: textmove 3s linear infinite;
}
@keyframes textmove {
    0%   {left: 170px;}
    25%  {left: 320px;}
    50%  {left: 470px;}
    75%  {left: 320px;}
    100% {left: 170px;}
}
#intro-text {
    font-family: 'Graphik Web Regular';
    font-size: 1.5em;
    margin: 0px;
    padding-top: 15px;
}


/* CV only */
h1.cv-title {
    font-size: 1.7em;
    text-align: left;
}
p.cv-text {
    font-size: 1.1em;
    margin: 3px;
    margin-top: 6px;
}
span.cv-color-text {
    color: #DC143C;
}
ul{
    margin-top: 3px;
}
li.cv-list {
    font-family: 'Graphik Web Regular';
    font-size: 1em;
    line-height: 23px;
}


/* containers */
div.body-container {
    display: flex;
    margin: 5px;
    height: 735px;
    width: auto;
}

.container {
    display: flex;
    flex-direction: column;
    height: 740px;
    width: auto;
    overflow: hidden;
    overflow: scroll;
}

div.menu {
    display: flex;
    flex-direction: column;
    color: #DC143C;
    height: 40px;
    width: 110px;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 10px;
}
div.menu:hover {
    color: black;
}

div.collapse {
    display: flex;
    width: 4030px;
    height: 740px;
    overflow: hidden;
    overflow-x: scroll; 
}
#editorial {
    display: none;
    position: absolute;
    width: 1293px;
    top: 50px;
    left: 140px;
    height: 735px;
    overflow: hidden;
    overflow: scroll; 
}
#packaging {
    display: none;
    position: absolute;
    width: 1293px;
    top: 50px;
    left: 140px;
    height: 735px;
    overflow: hidden;
    overflow: scroll; 
}
#branding {
    display: none;
    position: absolute;
    width: 1293px;
    top: 50px;
    left: 140px;
    height: 735px;
    overflow: hidden;
    overflow: scroll;  
}
#graphic {
    display: none;
    position: absolute;
    width: 1293px;
    top: 50px;
    left: 140px;
    height: 735px;
    overflow: hidden;
    overflow: scroll;  
}
#interaction {
    display: none;
    position: absolute;
    width: 1293px;
    top: 50px;
    left: 140px;
    height: 735px;
    overflow: hidden;
    overflow: scroll;  
}
#cv {
    display: none;
    position: absolute;
    width: 1293px;
    top: 50px;
    left: 140px;
    height: 735px;
    overflow: hidden;
    overflow: scroll;  
}


div.work {
    display: flex;
    width: 800px;
    height: 733px;
    margin-right: 5px;
    border: black solid 1px;
    background-color: #E5E4E2;
}
article.work {
    margin: 46px 40px 0px 40px;
    height: 688px;
    overflow-y: scroll;
}

h1 {
    font-family: 'Arapey Bold';
    font-size: 3em;
    text-align: center;
    margin: 0px;
}
h3 {
    font-size: 1.2em;
    font-family: 'Graphik Web Regular';
}
h3.onclick:active{
    color: black;
}
p {
    font-family: 'Graphik Web Regular';
    font-size: 1em;
    line-height: 22px;
}
p.small-title {
    font-family: 'Graphik Web Bold';
    font-size: 1.2em;
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 0px;
    margin: 30px 85px 0px 85px;
}

img {
    margin-bottom: 30px;
    margin-right: 10px;
}
div.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.image-container2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

img.caption {
    margin-bottom: 10px;
}
figure.image-container {
    font-family: 'Graphik Web Regular';
    display: flex;
    flex-direction: column;
    align-items: center;
}
figcaption {
    margin-bottom: 30px;
}


/* introduction container */
div.about {
    display: block;
    position: absolute;
    width: 800px;
    top: 50px;
    left: 140px;
    height: 735px;
}
article.about {
    margin: 20px 400px 0px 30px;
    height: 695px;
    overflow-y: scroll;
}
p.about {
    font-size: 1.2em;
    line-height: 24px;
    margin-top: 5px;
}
/*span.about {
    color: #DC143C;
}*/

a {
    text-decoration: none;
    color: #DC143C;
}

/* project divs */
p.editorial {
    margin: 25px 85px 10px 85px;
    text-align: justify;
}

p.packaging {
    margin: 25px 85px 30px 85px;
    text-align: justify;
}

p.branding {
    margin: 25px 85px 30px 85px;
    text-align: justify;
}

p.graphic {
    margin: 25px 90px 30px 90px;
    text-align: justify;
}

p.interaction {
    margin: 25px 85px 30px 85px;
    text-align: justify;
}

